<%- include("partials/header") %>

<section class="card" style="width: 18rem;">
    <img src="<%= player.imageUrl %>" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title"> <%= player.name %></h5>
      <p class="card-text">age: <%= player.age %></p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Position: <%= player.position  %></li>
      <li class="list-group-item">Active: <%= player.playing %> </li>
      <li class="list-group-item">Date of birth:<%= player.birthDate %></li>
      <li class="list-group-item">Rating:<%= player.rating %></li>
      <li class="list-group-item">Trophies earned: <%= player.trophies %></li>
      <li class="list-group-item">Place of birth: <%= player.birthPlace %></li>
    </ul>
    <div class="card-body">
      <ul class="list-group list-group-flush">
        <h6 class="card-title"> Team</h6>
        <a href="/team/<%= player.team.id %>"" class="card-link"><%= player.team.name %></a>
        <li class="list-group-item">Manager: <%= player.team.manager  %></li>
        <li class="list-group-item">League:<%= player.team.league %></li>
      </ul>
    </div>
 </section>



<%- include("partials/footer") %>