<%- include("partials/header") %>

<form action="/filter" method="GET" class="d-flex" role="search">
  <input name="query" class="form-control me-2" type="search" placeholder="Search" >
  <button class="btn btn-outline-success" type="submit">Search</button>
</form>

<table class="table">
  <thead class="table-dark" >
    <tr>
      <th scope="col"><a href="">Name</a></th>
      <th scope="col"><a href="">Position</a></th>
      <th scope="col"><a href="">BirtDate </a></th>
      <th scope="col"><a href="">age</a></th>
      <th scope="col"><a href="">playing</a></th>
    </tr>
  </thead>
  
  <tbody class="table-group-divider">
    <tr>

<% for(let player of players) { %>

        <th scope="row"><img src= "<%= player.imageUrl %>" alt="Image"> <a id="name" class="names" href="/detail/<%= player.id %>"><%= player.name %></a> </th>
        
        <td>
          <form method="post" action="/updatePos">
            <select name="position" id="position">
              <option  value=<%= player.position %> > <%= player.position %> </option>
              <option  value="cb">cb</option>
              <option  value="cm">cm</option>
              <option  value="rw">rw</option>
              <option  value="lw">lw</option>
              <option  value="st">st</option>
            </select>
            <button type="submit">edit</button>
          </form>
        </td>
  
        <td><%= player.birthDate %></td>
        <td>
          <form method="post" action="/updateAge">
            <%= player.age %>
            <input id="ageInput" type="text" > 
            <button  type="submit">edit</button>
          </form>
        </td>
        <td><%= player.playing%></td>
      </tr>
<% } %>

</table>
<br>
<section id = "login_popup">
  <form action="/login" method="post" id = "login_content">
      <h3>Login</h3>
      <button class = "close_button" formnovalidate>X</button>
      <fieldset>
          <label for="username">Gebruikersnaam:</label>
          <input type="text" name="username" placeholder="Gebruikersnaam" required><br>
          <label for="password">Wachtwoord:</label>
          <input type="password" name="password" placeholder="Wachtwoord" required><br>
          <a href = "forgotpassword.html">Wachtwoord vergeten?</a>
      </fieldset>    
      <input id = "popup_login_button" type="submit" form = "login_content" value="Inloggen">           
  </form>
</section>
<section id = "signin_popup">
  <form action="/" method="post" id = "signin_content">
      <h3>Registratie</h3>
      <button class = "close_button" formnovalidate>X</button>
      <fieldset>
          <label for="username">Gebruikersnaam:</label>
          <input type="text" name="username_signin" placeholder="Gebruikersnaam" required><br>
          <label for="password">Wachtwoord:</label>
          <input type="password" name="password_signin" placeholder="Wachtwoord" id = "password" required><br>
          <label for="password">Wachtwoord Bevestigen:</label>
          <input type="password" name="password_signin_confirm" placeholder="Bevestig Wachtwoord" id = "confirm_password" required><br>
      </fieldset>    
      <input id = "popup_signin_button" type="submit" form = "signin_content" value="Registreren">           
  </form>
</section>

<%- include("partials/footer") %>